.input-container {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: .5rem;

}

.input {
  border: 1px solid #808080;
  padding: .25rem .5rem;
  border-right: 0;
  width: 100%;
  outline: none;
  user-select: none;
}
.icon {
  font-size: 24px;
  border: 1px solid #808080;
  color: #808080;
  border-left: 0;
  padding-right: .25rem;
}
